## Scala
target
*.class
*.log

## sbt
.cache
.history
.lib
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

## Eclipse
build
.classpath
.project
.settings
.worksheet
org.scala-ide.sdt.core/META-INF/MANIFEST.MF
org.scala-ide.sdt.update-site/site.xml

## Emacs
.ensime
.ensime_cache
\#*\#


*.gz
*.log
*.pyc
